<%= form_with model: @event, url: event_path(@event), method: :patch do |form| %>

<% form.hidden_field :user_id, value: current_user.id %>

<div>
<%= form.label :name%>
<%= form.text_field :name%>
</div>

<div>
<%= form.label :description %>
<%= form.text_area :description %>
</div>

<div>
<%= form.label :location %>
<%= form.text_field :location %>
</div>

<div>
    <%= form.label :private do %>
     <%= form.check_box :private %>
        Private
    <% end %>
</div>

<div>
<%= form.label 'event\'s day'%>
<%= form.date_field :date %>
</div>

<div>
<%= form.label 'event\'s time'%>
<%= form.time_field :time%>
</div>
<%= form.submit %>
<% end %>