<%= link_to 'Events', events_path %>

<h2>Event: <%= @event.name %></h2>

  
  <p><%= @event.description %></p>
  <p><strong>Location:</strong> <%= @event.location %></p>

  <p><strong>Date:</strong> <%= @event.date %></p>
  
  <% if @event.time.nil? == false %>
  <p><strong>Time:</strong> <%= @event.time.strftime("%I:%M %p") %></p>
  <% end %>
  <hr>

  <% if @event.private == true %>
    <p>This event is Private</p>
  <% end %>

  


  <% unless current_user.attending?(@event) %>
    <%= button_to 'Attend', attend_event_path(@event), method: :post %>
  <% end %>

  <hr>
<h3>Attendees</h3>
<% @attendings.includes(:attendee).each do |attending| %>
  <% if attending.attendee %>
    <%= attending.attendee.username %>
  <% end %>
<% end %>




  <h5>created by: <%= @event.creator.username%></h5>